.contact-box {
    justify-content: space-evenly;
    display: flex;
    align-items: center;
    height: 100vh;
}

.contact-header {
    text-align: center;
    color: #fefefe;
    font-size: 80px;
}

.contact-content {
    color: #fefefe;
}

.job-title {
    color: #0d6efd;
    font-size: 30px;
    font-weight: 700;
}

.contact-link {
    text-decoration: none;
    color: #fefefe;
    font-size: 20px;
    font-weight: 500;
}

.contact-link-header {
    font-size: 20px;
    font-weight: 900;
    color: rgb(131, 131, 131);
    margin-top: 10px;
}

.contact-link:hover {
    color: #fefefe;
}

.contact-link:after {
    background-color: #0053ff;
    display: block;
    content: "";
    height: 2px;
    width: 0%;
    -webkit-transition: width .3s ease-in-out;
    -moz--transition: width .3s ease-in-out;
    transition: width .3s ease-in-out;
}

.contact-link:hover:after,
.contact-link:focus:after {
    width: 100%;
}

@media(max-width:1200px) {
    .contact-box {
        flex-direction: column;
    }
}