.about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-left: 100px;
    padding-right: 100px;
}

.about-header {
    display: flex;
    min-height: 100vh;
    text-align: center;
    align-items: center;
    color: #fefefe;
    font-size: 80px;
}

.pictures-inf {
    width: 800px;
}

@media (max-width:1568px) {
    .boxinfo {
        flex-direction: column;
    }
    .boxinfo-boxtext {
        margin-top: 40px;
    }
}

@media (max-width:900px) {
    .about-header {
        height: 100vh;
        padding-left: 45%;
        margin-bottom: 60%;
    }
    .pictures-inf {
        text-align: center;
        width: 100vw;
    }
    .boxinfo-boxtext {
        margin-left: 0px;
    }
    .boxinfo {
        padding-left: 40%;
    }
}

.boxinfo {
    display: flex;
    align-items: center;
    font-size: 30px;
    margin-bottom: 150px;
}

.boxinfo-boxtext {
    margin-left: 5%;
}

.boxinfo-header {
    color: #0053ff;
}

.boxinfo-content {
    margin-top: 20px;
    color: #fefefe;
}