.home-background {
    display: flex;
    background: #0c1019;
    height: 100vh;
    width: 100vw;
    flex-direction: column;
    align-items: center;
}

.menu-generate {
    background: white;
    display: flex;
    width: 95%;
    border-radius: 8px;
    padding-left: 5px;
    padding-right: 5px;
}

.menu-generate-war {
    background: white;
    display: flex;
    width: 95%;
    box-shadow: 0 0 6px 3px rgb(255, 0, 55);
    border-radius: 8px;
    padding-left: 5px;
    padding-right: 5px;
}

.menu-generate-war:hover {
    box-shadow: 0 0 10px 3px rgb(255, 0, 55);
}

.menu-generate:hover {
    box-shadow: 0 0 6px 3px rgba(0, 4, 252, 0.877);
}

.name-music {
    outline: none;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    border: none;
    padding-right: 5px;
    border-right: 1px #0c1019 solid;
}

.name-music-war {
    outline: none;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    border: none;
    padding-right: 5px;
    border-right: 1px #0c1019 solid;
}

.name-music-war::placeholder {
    font-weight: 600;
    color: rgb(255, 0, 55);
}

.genre-select {
    padding-left: 10px;
    padding-right: 5px;
    outline: none;
    border: none;
    border-right: 1px #0c1019 solid;
}

.time-music {
    padding-left: 10px;
    padding-right: 5px;
    outline: none;
    border: none;
    border-bottom-right-radius: 8px;
    border-top-right-radius: 8px;
}

.audio-player {
    display: flex;
}