header {
    display: flex;
    padding: 1%;
    justify-content: space-between;
    align-items: center;
}

.menu_button {
    border: none;
    font-size: 20px;
    background: 0%;
    text-decoration: none;
    color: #fefefe;
    margin-left: 15px;
}


/* .logo {
    background: #fefefe;
} */

.auth_button {
    font-size: 20px;
    min-width: 100px;
    background: 0%;
    color: #fefefe;
    border: 2px #aeafaf solid;
    border-radius: 13px;
    margin-right: 1%;
}