.menu_button {
    padding: 8px;
    padding-top: 14px;
    border: none;
    font-size: 20px;
    font-weight: bold;
    background: 0%;
    text-decoration: none;
    color: black;
}

.auth_button {
    margin-top: 9px;
    font-size: 22px;
    width: 100px;
    height: 70%;
    background: 0%;
    color: #fefefe;
    border: 2px #aeafaf solid;
    border-radius: 13px;
    margin-right: 1%;
    text-decoration: none;
    text-align: center;
}

.menu_button:hover {
    color: black;
}

.auth_button:hover {
    color: #fefefe;
    border: 2px #0053ff solid;
}

@media(max-width:850px) {
    .menu_button {
        color: #fefefe;
    }
    .menu_button:hover {
        color: #fefefe;
    }
}

.menu_button:after {
    background-color: #a775fe;
    display: block;
    content: "";
    height: 2px;
    width: 0%;
    -webkit-transition: width .3s ease-in-out;
    -moz--transition: width .3s ease-in-out;
    transition: width .3s ease-in-out;
}

.menu_button:hover:after,
.menu_button:focus:after {
    width: 100%;
}

.dropdown-text {
    text-decoration: none;
    color: black;
}

.dropdown-text:hover {
    color: black;
}