.error-change {
    color: red;
    height: 20px;
}

.complete-change {
    color: rgb(120, 233, 68);
    height: 20px;
}

.password-change-input {
    background: 0;
    color: white;
    border: 2px solid #818181;
    border-radius: 20px;
    height: 50px;
}

.save-button {
    width: 184px;
    background: #a775fe;
    border: none;
    color: white;
    height: 50px;
    border-radius: 20px;
    font-weight: 400;
    transition: background 0.5s ease;
}

.save-button:hover {
    background: #8e4efc;
}

@media(max-width:780px) {
    .save-button {
        width: 100%;
    }
}